@tailwind base;
@tailwind components;
@tailwind utilities;



@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
  color: #c8c8c8;

}

input{
    color: #c8c8c8 !important;

}
input:hover{
    color: #c8c6ba;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

.postinfo h2{
font-size: 1.4rem;
}
.postinfo h3{
font-size: 1.75rem;
}
.postinfo p{
margin-bottom: 15px;
}

.animate-pulse {
    background: linear-gradient(90deg, #1c1c1c 25%, #262626 50%, #1c1c1c 75%);
    background-size: 400% 100%;
    animation: shimmer 1.5s infinite;

}
@keyframes pulse {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}

.button-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 42px;
    height: 33px;
}

.shimmer-loader {
    background: linear-gradient(90deg, #1c1c1c 25%, #262626 50%, #1c1c1c 75%);
    background-size: 400% 100%;
    animation: shimmer 1.5s infinite;
    border-radius: 4px;
  }
  
  @keyframes shimmer {
    0% {
      background-position: 100% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
a{
    cursor: pointer;
}