@tailwind base;
@tailwind components;
@tailwind utilities;



@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


@font-face {
    font-family: "Helvetica";
    src: url("./fonts/Helvetica.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  
  /* Helvetica Bold */
  @font-face {
    font-family: "Helvetica";
    src: url("./fonts/Helvetica-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
  }
  
  /* Helvetica Oblique (Italic) */
  @font-face {
    font-family: "Helvetica";
    src: url("./fonts/Helvetica-Oblique.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
  }
  
  /* Helvetica Bold Oblique (Bold Italic) */
  @font-face {
    font-family: "Helvetica";
    src: url("./fonts/Helvetica-BoldOblique.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
  }
  
  /* Helvetica Light */
  @font-face {
    font-family: "Helvetica";
    src: url("./fonts/helvetica-light-587ebe5a59211.ttf") format("truetype");
    font-weight: 300; /* Light weight */
    font-style: normal;
  }
  
  /* Helvetica Compressed (OpenType) */
  @font-face {
    font-family: "Helvetica Compressed";
    src: url("./fonts/helvetica-compressed-5871d14b6903a.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }
  
  /* Helvetica Rounded Bold (OpenType) */
  @font-face {
    font-family: "Helvetica Rounded";
    src: url("./fonts/helvetica-rounded-bold-5871d05ead8de.otf") format("opentype");
    font-weight: bold;
    font-style: normal;
  }

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
  color: #c8c8c8;
  font-family: "Helvetica", sans-serif;
}

input{
    color: #c8c8c8 !important;

}
input:hover{
    color: #c8c6ba;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 990px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 1300px) {
    .container {
        max-width: 1240px;
    }
}
.postinfo h2{
font-size: 1.4rem;
}
.postinfo h3{
font-size: 1.75rem;
}
.postinfo p{
margin-bottom: 15px;
}

.animate-pulse {
    background: linear-gradient(90deg, #1c1c1c 25%, #262626 50%, #1c1c1c 75%);
    background-size: 400% 100%;
    animation: shimmer 1.5s infinite;

}
@keyframes pulse {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}

.button-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 42px;
    height: 33px;
}

.shimmer-loader {
    background: linear-gradient(90deg, #1c1c1c 25%, #262626 50%, #1c1c1c 75%);
    background-size: 400% 100%;
    animation: shimmer 1.5s infinite;
    border-radius: 4px;
  }
  
  @keyframes shimmer {
    0% {
      background-position: 100% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
a{
    cursor: pointer;
}